.wpage
{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


.wmenu
{
    text-align: center;
}


.wmenuitem
{
    display: inline-block;
    margin-right: 72px;
    margin-top: 25px;
    margin-bottom: 25px;
}


.wmenulink
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
    display: inline-block;
}


.wslogan
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 10px;
}


.wdesc
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;   
    margin-top: 28px; 
}

.wgobuttonwrapper
{
    text-align: center;
}


.wgobutton
{
    display:inline-block;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;    
    background: #FF0000;
    margin-top: 66px;
    padding: 18px 43px;
    border-radius: 4px;    
    text-decoration: none;
    text-align: center;
}


.wcopyright
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;   
    text-align: end; 
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;
}
